@require 'variables'
@require 'fonts'

:global
  .epic-font-base
    font-family: epic-font-base

  .epic-font-base-md
    font-family: epic-font-base-md

  .epic-font-marketing
    font-family: epic-font-marketing
    letter-spacing: -1px
    text-transform: uppercase
    line-height: 0.93
    letter-spacing: -1px

  .epic-font-brand
    font-family: epic-font-brand
    letter-spacing: 0.5px
    text-transform: uppercase

  // Semantic color classes
  .epic-color-default
    color: er-blue

  .epic-color-accent
    color: er-accent

  .epic-color-success
    color: er-success

  .epic-color-error
    color: er-error

  .epic-color-warn
    color: er-warn

  // Background semantic color classes
  .epic-bg-default
    background-color: er-blue

  .epic-bg-accent
    background-color: er-accent

  .epic-bg-success
    background-color: er-success

  .epic-bg-danger
    background-color: er-error

  .epic-bg-warn
    background-color: er-warn

  // Grey color classes
  .epic-color-grey-1
    color: er-grey-1

  .epic-color-grey-2
    color: er-grey-2

  .epic-color-grey-3
    color: er-grey-3

  .epic-color-grey-4
    color: er-grey-4

  .epic-color-grey-5
    color: er-grey-5

  .epic-color-grey-6
    color: er-grey-6

  .epic-color-grey-7
    color: er-grey-7

  // Background grey color classes
  .epic-bg-grey-1
    background-color: er-grey-1

  .epic-bg-grey-2
    background-color: er-grey-2

  .epic-bg-grey-3
    background-color: er-grey-3

  .epic-bg-grey-4
    background-color: er-grey-4

  .epic-bg-grey-5
    background-color: er-grey-5

  .epic-bg-grey-6
    background-color: er-grey-6

  .epic-bg-grey-7
    background-color: er-grey-7

body
  font-family: 'Helvetica Neue Regular', Helvetica, Arial, sans-serif !important
  font-weight: normal
