@require 'fonts'
@require 'variables'

// SideNav selected section
nav
  li[class^='rsg--isSelected-'] a, li[class*='rsg--isSelected-'] a
    color: er-blue !important
    font-weight: normal !important

// "View code" area
main
  button[name^='rsg-code-editor'], button[name^='rsg-usage']
    font-family: 'Helvetica Neue Regular'
    font-size: 12px
    color: er-blue
    text-transform: lowercase !important
    cursor: pointer
    text-decoration: underline

  button[class^='rsg--isActive-'], button[class*='rsg--isActive-']
    text-decoration: none !important

:global
  .epic-font-brand
    font-family: 'Trade Gothic', 'Helvetica Neue Regular', Helvetica, Arial, sans-serif
    letter-spacing: 0.5px
    text-transform: uppercase
    size: 16px

  .epic-font-marketing
    font-family: 'Futura', 'Helvetica Neue Regular', Helvetica, Arial, sans-serif
    letter-spacing: -1px
    text-transform: uppercase
    line-height: 0.93
    font-size: 48px
    letter-spacing: -1px

  .epic-font-base
    font-family: 'Helvetica Neue Regular', Helvetica, Arial, sans-serif
    font-size: 16px
    text-transform: none

  .epic-font-base-md
    font-family: 'Helvetica Neue Medium', Helvetica, Arial, sans-serif

  body
    font-family: 'Helvetica Neue Regular', Helvetica, Arial, sans-serif !important
    font-weight: normal
    font-size: 16px
