/* *********fonts******** */
epic-font-brand = 'Trade Gothic', 'Helvetica Neue Regular', Helvetica, Arial, sans-serif
epic-font-marketing = 'Futura', 'Helvetica Neue Regular', Helvetica, Arial, sans-serif
epic-font-base = 'Helvetica Neue Regular', Helvetica, Arial, sans-serif
epic-font-base-md = 'Helvetica Neue Medium', Helvetica, Arial, sans-serif

.epic-font-base
  font-family: epic-font-base

.epic-font-base-md
  font-family: epic-font-base-md

.epic-font-marketing
  font-family: epic-font-marketing

.epic-font-brand
  font-family: epic-font-brand

/* ***********Colors********** */
er-blue = #5197D6
er-accent = #FA5400
er-success = #48BD1F
er-error = #FE0000
er-warn = #eeb450
er-teal = #007a87
/* ***********Hover State Colors********** */
er-hover-blue = #7CB1E0
er-hover-success = #4fd656
er-hover-accent = #ff7530
er-hover-error = #ff3030
er-hover-warn = #edbf6f
/* *******grey-scale******* */
er-white = #ffffff
er-black = #111
er-grey-1 = #f7f7f7
er-grey-2 = #ECECEC
er-grey-3 = #E5E5E5
er-grey-4 = #C7C7C7
er-grey-5 = #B2B2B4
er-grey-6 = #8B8C8C
er-grey-7 = #6D6D6D
/* *******z-index********* */
z-index-layer-1 = 1
z-index-layer-2 = 2
z-index-layer-3 = 3
z-index-layer-4 = 4
z-index-layer-5 = 5
z-index-layer-6 = 6
z-index-layer-7 = 7
z-index-layer-8 = 8
z-index-layer-9 = 9
z-index-layer-10 = 10
highest-order-z-index = 2000
max-z-index = 20001
/* *******Media Sizes*********** */
min-break-xxxsm = 241px
min-break-xxsm = 321px
min-break-xsm = 481px
min-break-sm = 541px
max-break-md = 641px
max-break-lg = 1025px
max-break-xl = 1281px
max-break-xxl = 1441px
max-break-huge = 2160px

base()
  @media (min-width: 0) and (max-width: 240px)
    {block}

sm-mobile()
  @media (min-width: 241) and (max-width: 480px)
    {block}

mobile()
  @media (min-width: 481) and (max-width: 640px)
    {block}

tablet()
  @media (min-width: 641) and (max-width: 1024px)
    {block}

sm-desktop()
  @media (min-width: 1025) and (max-width: 1280px)
    {block}

desktop()
  @media (min-width: 1281) and (max-width: 1440px)
    {block}

lg-desktop()
  @media (min-width: 1441) and (max-width: 1800px)
    {block}

xlg-desktop()
  @media (min-width: 1801) and (max-width: 2200px)
    {block}

xxlg-desktop()
  @media (min-width: 2201) and (max-width: 3000px)
    {block}

xxxlg-desktop()
  @media (min-width: 3001) and (max-width: 3700px)
    {block}

min-break-xxxsm = 240px
min-break-xxsm = 320px
min-break-xsm = 480px
min-break-sm = 540px
min-break-md = 640px
min-break-lg = 1024px
min-break-xl = 1280px
min-break-xxl = 1440px
/* ==================== End EP Styling */