@require '~styles/variables'

.noData
  position relative
  transform unset
  text-align center
  left 0
  top 0

.table
  width 100%
  border-spacing 0

  .thead
    .tr
      .th
        padding 5px
        font 700 16px / 24px 'Trade Gothic' !important
        -webkit-font-smoothing antialiased
        text-transform uppercase
        border-top 1px solid er-grey-6
        border-right 1px solid er-white
        background er-grey-6
        color er-white
        position relative

        &:first-child
          border-top-left-radius 15px
          border-left 1px solid er-grey-6

        &:last-child
          border-right 1px solid er-grey-6
          border-top-right-radius 15px
        
        &.sortAsc, &.sortDesc
          box-shadow none
          background er-teal

          &:before
            content ''
            position absolute
            top calc(50% - 2px)
            right 8px
            width 0
            height 0
            border-left 5px solid transparent
            border-right 5px solid transparent
            border-top 5px solid er-white
          
        &.sortDesc:before
          top calc(50% - 3px)
          border-top none
          border-bottom 5px solid er-white

  .tbody
    .tr
      background er-white
    
      &:nth-child(even)
        background er-grey-2
      
      &:last-child
        .td
          border-bottom 1px solid er-grey-4

      .td
        padding 5px
        padding-left 10px
        font 500 12px / 22px 'Helvetica Neue Regular'
        border-right 1px solid er-grey-4

        &:first-child
          border-left 1px solid er-grey-4