
:root {
  --main-bg-color: brown;
  /* ***********Colors********** */
  --er-blue: #5197D6;
  --er-accent: #FA5400;
  --er-success: #48BD1F;
  --er-error: #FE0000;
  --er-warn: rgb(238, 180, 80);
  --er-teal: #007a87;
  /* ***********Hover State Colors********** */
  --er-hover-blue: #7CB1E0;
  /* *******grey-scale******* */
  --er-white: #ffffff;
  --er-black: #111;
  --er-grey-1: #f7f7f7;
  --er-grey-2: #ECECEC;
  --er-grey-3: #E5E5E5;
  --er-grey-4: #C7C7C7;
  --er-grey-5: #B2B2B4;
  --er-grey-6: #8B8C8C;
  --er-grey-7: #6D6D6D;
  /* *******z-index********* */
  --z-index-layer-1: 1;
  --z-index-layer-2: 2;
  --z-index-layer-3: 3;
  --z-index-layer-4: 4;
  --z-index-layer-5: 5;
  --z-index-layer-6: 6;
  --z-index-layer-7: 7;
  --z-index-layer-8: 8;
  --z-index-layer-9: 9;
  --z-index-layer-10: 10;
  --highest-order-z-index: 2000;
  --max-z-index: 20001;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout-content {
  height:  calc(100vh - 72px) !important;
  overflow-x: auto !important;
}

.ant-layout-footer {
  padding: 0 !important;
  background: #001529 !important;
  color: white !important;
  height: 36px !important;
  line-height: 36px !important;
}

.header-logo {
  height: 36px;
  object-fit: none;
}

.ant-layout-header {
  height: 36px !important;
  line-height: 36px !important;
}

.ant-card,
.ant-card-bordered {

  border-radius: 15px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.ant-card-actions {
  border-radius: 15px !important;
}

/* .ant-card-body {
  min-height: 134px !important;
  max-height: 134px !important;
}

.ant-col {
  min-width: 200px !important;
  max-width: 348px !important;
  width: 348px !important;
  margin-right: 20px !important;
} */

/* .ant-layout-content {
  padding: 30px !important;
  margin-top: 15px !important;
  height: calc(100vh - 123px) !important;
  overflow-x: auto !important;
} */